<h1> Edit Your Order</h1>
<section class="new-order">
  <form action="/fast_feasts/<%= order["id"] %>" method="POST">
  <input type="hidden" name="_method" value="put">
  
    <div>
      <label for="">Date of Order:</label>
      <input type="date" name="date" value="<%get_order(order["id"])["date"]%>">
    </div>

    <div>
      <label for="">Time Of Order:</label>
      <input type="time" name="time"
      value="<%= get_order(order["id"])["time"] %>">
    </div>
    <input type="text" name="booking_name" value="<%= get_order(order["id"])["booking_name"] %>">
    <input type="text" name="phone" value="<%= current_user["phone"]%>">
    <button>Update Booking Information</button>
  </form>
</section>


    <section class="meals">
    <form action="">
      <header class="order_menu"></header>
      <% meals.each do |food| %>
        <div>
          <p><%= food["meal"] %></p>
          <p>$<%= food["price"] %></p>
          <P><%= food["cooking_instructions"] %></p>
        </div>
      <% end %>
      <button>Update Meals</button>
      </form>
    </section>




<button><a href="/">Finish Updating</a></button>