<header><h1>Fast Feasts</h1></header>
<% if logged_in? %>
    <section class="log-out">
      <p>Welcome <%= current_user['first_name'] %></p>

      <form class="" action="/sessions" method="POST">
        <div>
          <input type="hidden" name="_method" value="delete">
          <button>Logout</button>
        </div>

      </form>
    </section>  
  <% end %>


<% if !logged_in? %>
  <main>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum aliquam culpa soluta! Voluptates debitis provident dignissimos, minus cupiditate veritatis unde rem rerum architecto, accusamus amet totam nam labore voluptatem qui.
    </p>
  </main>

  <section class="login">
    <form class="login-form" action="/sessions" method="POST">

    <h2>Log In</h2>

    <div>
      <%# <label for="">Email Address:</label> %>
      <input type="text" name="email" placeholder="Email Address:">
    </div>

    <div>
      <%# <label for="">Pasword:</label> %>
      <input type="password" name="password" placeholder="Password:">
    </div>

    <button>Log In</button>

    <button><a href="/sign_up">Sign Up</a></button>

    </form>

  </section>
<% end %>


<% if logged_in? %>
  <br>
  <button>
    <a href="/fast_feasts/new-order">Create New Order</a>
  </button>
  <br>

<section class="orders_list">
  <h1>Current Orders</h1>
  <% bookings.each do |order|%>

    <section class="orders">
      <%= order["booking_name"] %>
      <%= order["date"] %>
      <%= order["time"] %>
      <%= order["meals"] %>
    </section>
    <section class="order_buttons">
    
    <a href="/fast_feasts/<%= order["id"] %>/edit">Edit</a>

      <form action="/fast_feasts/<%= order['id'] %>" method="POST">
        <input type="hidden" name="_method" value="delete">

        <button>Delete</button>
      </form>
    </section>
  <% end %>
</section>



<% end %>