
<% if logged_in? %>
<header><h1>Fast Feasts</h1></header>
  <section class="log-out">
    <p>Welcome, <%= current_user['first_name'] %></p>

    <form class="log-out-form" action="/sessions" method="POST">
      <div class="log-out-buttons">
        <input type="hidden" name="_method" value="delete">
       
        <button><a href="/fast_feasts/new-order">Create Boooking</a></button>
         <button>Logout</button>
      </div>
    </form>
  </section>  
<% end %>


<% if !logged_in? %>
  <div class="login-container">
    <main>
      <p> Sign up and enjoy our lunch pre-order system powered by fast feasts. <br> Please submit your order prior to 11.30 am to ensure that we have enough time to prepare
      <br> <br>
      Email: functions@clubhousebarandbistro.com <br>
      Phone: 0260 591079 <br>
      10 Clubhouse Place
      Wodonga VIC 3690 
      <br>  
      </p>
    </main>

    <section class="login">
      <form class="login-form" action="/sessions" method="POST">
        <header><h1>Fast</h1><h1>Feasts</h1></header>
        
        <input type="text" name="email" placeholder="Email Address:">
        <input type="password" name="password" placeholder="Password:">

        <button>Log In</button>
        <div></div>
        <button><a href="/sign_up">Sign Up</a></button>
      </form>

    </section>
  </div>
<% end %>


<% if logged_in? %>
  <br>
 
  <br>

<section class="orders_list">
  <h1>Current Bookings</h1>
  <% bookings.each do |order|%>

    <section class="orders">
      <%= order["booking_name"] %>
      <%= order["date"] %>
      <%= order["time"] %>
    </section>


    <section class="order_buttons">
      <button><a href="/fast_feasts/<%= order["id"] %>/edit">Edit</a></button>

      <form action="/fast_feasts/<%= order['id'] %>" method="POST">
        <input type="hidden" name="_method" value="delete">

      <button>Delete</button>
      </form>
    </section>

  <% end %>
</section>



<% end %>