<header><h1>Fast Feasts</h1></header>
<% if logged_in? %>
  <section class="log-out">
    <p>Welcome <%= current_user['first_name'] %></p>

    <form class="log-out-form" action="/sessions" method="POST">
      <div class="log-out-buttons">
        <input type="hidden" name="_method" value="delete">
       
        <button><a href="/fast_feasts/new-order">Create Boooking</a></button>
         <button>Logout</button>
      </div>
    </form>
  </section>  
<% end %>


<% if !logged_in? %>
  <main>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum aliquam culpa soluta! Voluptates debitis provident dignissimos, minus cupiditate veritatis unde rem rerum architecto, accusamus amet totam nam labore voluptatem qui.
    </p>
  </main>

  <section class="login">
    <form class="login-form" action="/sessions" method="POST">
    
      <input type="text" name="email" placeholder="Email Address:">
      <input type="password" name="password" placeholder="Password:">

      <button>Log In</button>
      <button><a href="/sign_up">Sign Up</a></button>
    </form>

  </section>
<% end %>


<% if logged_in? %>
  <br>
 
  <br>

<section class="orders_list">
  <h1>Current Bookings</h1>
  <% bookings.each do |order|%>

    <section class="orders">
      <%= order["booking_name"] %>
      <%= order["date"] %>
      <%= order["time"] %>
    </section>


    <section class="order_buttons">
      <button><a href="/fast_feasts/<%= order["id"] %>/edit">Edit</a></button>

      <form action="/fast_feasts/<%= order['id'] %>" method="POST">
        <input type="hidden" name="_method" value="delete">

      <button>Delete</button>
      </form>
    </section>

  <% end %>
</section>



<% end %>